@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');

/* Changement du style de la scrollbar */
/* taille de la scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* couleur de fond secondaire de la scrollbar */
::-webkit-scrollbar-track {
    background: #161413;
}

/* couleur de fond primaire de la scrollbar */
::-webkit-scrollbar-thumb {
    background: #949494;
}

/* Hcouleur de fond primaire de la scrollbar au hover */
::-webkit-scrollbar-thumb:hover {
    background: #d8d7d7;
}

body {
    background-color: rgb(37, 34, 34);
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Syne', sans-serif;
}

.char {
    display: inline-block;
}

#hero {
    container-type: inline-size;
    display: grid;
    place-content: center;
    height: 100vh;
    position: relative;
    justify-content: start;
}

#hero>:first-child>* {
    text-transform: uppercase;
    width: max-content;
    padding-left: 4%;
    margin: 2%;
}

#hero h1 {
    font-size: 5.2vw;
    font-weight: 800;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#hero .char {
    transform: translateY(115px);
    transition: transform .5s;
}

#hero #hero-paragraphe {
    font-size: 1vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

nav {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7% 2% 0 2%;
    font-size: 1.2vw;
    font-weight: 800;
    animation: fadeInDown 1.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    transform: scale(1);
}

nav ul li {
    -webkit-user-select: none;
    cursor: pointer;
}

nav li a {
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin 0.25s;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .mid li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #fff;
    margin-top: 5px;
    transition: width 0.3s ease-in-out;
}

nav .mid li a:hover::after {
    width: 100%;
    transition: width 0.3s ease-in-out;
}

nav ul li:active {
    transform: scale(0.9);
}

nav .mid {
    gap: 50px;
}

nav .left {
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .left li {
    height: 190px;
    padding-top: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .left img {
    height: 35px;
}

nav .right {
    width: 20%;

}

nav .right li {
    border-radius: 5px;
    padding: 5px 15px;
    padding-bottom: 8px;
    /* border: solid 2px #fff; */
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .right li img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -90vh;
    left: 0;
    margin: auto;

    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 9px 14px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

.title-section {
    overflow: hidden;
    border: solid 2px black;
    padding-top: 3rem;
}