@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab:wght@500&display=swap');

/* Couleur en mode sombre */
:root[data-theme="dark"] {
    --text: #f4edfd;
    --background: #110f13;
    --primary: #a564f5;
    --secondary: #7e679c;
    --accent: #04F671;
    --icons: invert();
    --fill: #ece2f9;
    --icon-toggle: url('./images/icons/dark_mode_icon.svg');
    --svgbackground: #331e4e;
    --navbackground: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.7));
    --filtre: invert(0)
}

/* Couleur en mode clair */
:root[data-theme="light"] {
    --text: #161722;
    --background: #f3edf8;
    --primary: #4c06a2;
    --secondary: #9179ac;
    --accent: #09FB76;
    --icons: none;
    --fill: #10061e;
    --icon-toggle: url('images/icons/light_mode_icon.svg');
    --svgbackground: #b59fd3;
    --navbackground: linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.7));
    --filter: invert(1)
}

/* Classe permettant de mettre en gras tout texte ayant la class strong */
.strong {
    font-weight: 900;
}

/* CSS permettant d'ajouter un surlignage personnalisé */
.underline {
    position: relative;
}

button {
    cursor: pointer;
}

.underline::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -1px;
    left: 0.6ch;
    width: 100%;
    transform-origin: left;
    height: 33%;
    background: var(--primary);
}

.link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--primary);
    color: #ece2f9;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 1.3vh 1.3vw;
    width: fit-content;
    border-radius: 5px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}


.link svg {
    width: 30px;
    transition: all .3s ease-in-out;
}

.link:hover {
    border-radius: 25px;
}

.link:hover svg {
    transform: translateX(5px) translateY(-3px);
}

.next-project .link:hover svg {
    transform: translateX(5px);
}

/* Changement du style de la scrollbar */
/* taille de la scrollbar */
::-webkit-scrollbar {
    width: 9px;
}

/* couleur de fond secondaire de la scrollbar */
::-webkit-scrollbar-track {
    background: #232027;
}

/* couleur de fond primaire de la scrollbar */
::-webkit-scrollbar-thumb {
    background: #949494;
}

/* Hcouleur de fond primaire de la scrollbar au hover */
::-webkit-scrollbar-thumb:hover {
    background: #d8d7d7;
}

.icons {
    filter: var(--icons);
}

a {
    color: var(--primary);
    font-size: 800;
}

body {
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    font-family: 'Syne', sans-serif;
    overflow-x: hidden;
}

/* Ajout d'une margin pour chacune de mes sections */
section {
    margin: 0 3% 150px 3%;
}

/* Ajout d'un padding sur des sections spécifiques */
#a-propos, #projects, #contact {
    padding-top: 50px;
    margin-left: 5%;
}

#a-propos .resume-detail, #contact .contact-text {
    margin-left: 1%;
}

/* Ajout d'une margin spécifique sur ma section contact */
#contact {
    margin-bottom: 170px;
}

/* CSS de ma nav */
nav {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    font-size: 1.4rem;
    font-weight: 800;
    animation: fadeInDown 1.5s ease-in-out;
    transition: all .5s ease-in-out;
    backdrop-filter: blur(5px);
    background: var(--navbackground);
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    transform: scale(1);
}

nav li a {
    position: relative;
    text-decoration: none;
    color: var(--text);
    transition: margin 0.25s;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    filter: var(--filter);
}

nav .mid li a::after, .link-hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: var(--primary);
    margin-top: 5px;
    transition: width 0.3s ease-in-out;
}

nav .mid li a:hover::after, .link-hover:hover::after {
    width: 100%;
    transition: width 0.3s ease-in-out;
}

nav ul li:active {
    transform: scale(0.9);
}

nav .mid {
    gap: 50px;
}

nav .left {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .left li {
    height: 190px;
    padding-top: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    height: 50px;
}

nav .right li {
    border-radius: 5px;
    padding: 5px 15px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-toggle {
    background: var(--icon-toggle) no-repeat center center;
    background-size: contain;
    border: none;
    padding: 0;
    width: 65px;
    height: 65px;
    filter: var(--icons);
}

#nav-mobile {
    display: none;
    height: 100%;
    position: fixed;
    z-index: 99;
    width: 100%;
    color: #ece2f9;
    background: #232027;
    top: 0;
}

#nav-mobile #SVGRepo_iconCarrier * {
    stroke: #ece2f9;
}

.navigation-mobile {
    display: flex;
    flex-direction: column;
    background: #232027;
}

/* Section hero */
#hero {
    display: flex;
    align-items: center;
    place-content: center;
    height: 100vh;
    position: relative;
    justify-content: start;
}

.line-left {
    display: flex;
    gap: 15px;
    height: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.line-hero {
    width: 1px;
    height: 78%;
    background-color: var(--text);
    margin-right: 15px;
    margin-left: 15px;
}

.line-icons {
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.line-icons a {
    text-decoration: none;
}

.line-icons i {
    font-size: 2.3rem;
    color: var(--text);
}

#hero .hero-container {
    text-transform: uppercase;
    width: max-content;
    margin: 2%;
}

#hero-title {
    font-size: 6rem;
    font-weight: 800;
    color: var(--text);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin: 0;
    padding: 0;
}

#hero-title span {
    color: var(--primary);
}

#hero .char {
    transform: translateY(115px);
    transition: transform .5s;
}

#hero #hero-paragraphe {
    font-size: 1.8rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#hero #animate-background {
    transform: translate(-50%);
    max-width: 1100px;
    position: absolute;
    z-index: -100;
    filter: blur(20px);
    fill: var(--svgbackground);
    pointer-events: none;
    transform: none;
    transition: transform 10000ms ease-out;
    padding: 2px;
}



/* CSS de mon indicateur de scroll */
#hero .scroll-downs {
    position: absolute;
    right: 0;
    bottom: 5%;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
}

#hero .mousey {
    width: 3px;
    padding: 9px 14px;
    height: 35px;
    border: 2px solid;
    border-color: var(--secondary);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    cursor: pointer;
}

#hero .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: var(--secondary);
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

/* CSS de ma section a-propos */
#a-propos .resume {
    display: flex;
    flex-direction: column;
}

#a-propos .resume .resume-content {
    display: flex;
    flex-direction: row;
    gap: 15%;
}

#a-propos .resume .resume-content img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

#a-propos .resume .resume-content .resume-text {
    max-width: 50%;
}

.title {
    font-size: 2.8rem;
    text-transform: uppercase;
}

#a-propos .resume p {
    font-size: 1.3rem;
}

#a-propos .skills .skills-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 colonnes pour les 4 catégories */
    gap: 20px;
    /* Espacement entre les colonnes et les lignes */
    justify-content: center;
    margin: 0 100px;
    justify-items: center;
}

.skills {
    margin: 120px 0;
}

.skills h3 {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px;
}

.skills .skills-list h4 {
    font-size: 1.5rem;
}

.skills .skills-list li p {
    padding: 7px;
    font-size: 1.225rem;
    margin: 0;
}

.skills ul>li:nth-child(odd)>p i {
    background: linear-gradient(53deg, var(--primary) 35%, var(--accent) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.skills .skills-list ul {
    list-style: none;
    padding: 0;
}

.skills .skills-list li {
    padding-bottom: 3%;
}

.skills .skills-list li img {
    width: 20px;
    margin-right: 3%;
}


/* CSS de ma section projects */
#projects .container {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#projects .project-container {
    display: flex;
    gap: 5rem;
    padding: 5em 0;
    flex-wrap: wrap;
    justify-content: center;
}

#projects .project-container:nth-child(odd) {
    flex-direction: row-reverse;
}

#projects .container-right {
    display: flex;
    flex-direction: column;
    max-width: 600px;

}

#projects .container-right h3 {
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 2.25rem;
    margin: 0 0 .5em 0;
}

#projects .container-right p {
    line-height: 1.5;
    font-size: 1.03rem;
}

#projects .project-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-link .link-right img {
    width: 30px;
    height: 30px;
}

#projects ul {
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

#projects li {
    border: 2px solid var(--secondary);
    padding: 5px;
    border-radius: 0.5rem;
}

.hover-this:hover~.cursor {
    transform: translate(-50%, -50%) scale(8);
}

.hover-this:hover~.cursor {
    transform: translate(-50%, -50%) scale(8);
}

.cursor.active {
    pointer-events: none;
    position: absolute;
    padding: 0.5rem;
    background-color: var(--fill);
    border-radius: 50%;
    transition: transform 0.3s ease-out;
    transition: padding .2s ease-in-out;
    opacity: 1;
    transform: scale(1.15);
    color: var(--background);
    padding: 25px 15px;
    font-size: 0.885rem;
    border-radius: 50%;
    z-index: 1;
    text-transform: uppercase;
}

.container-left {
    transition: all .7s cubic-bezier(0.25, 1, 0.3, 1);
    width: 540px;
}

.container-left img {
    opacity: 0.7;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
    transform-origin: 90% center;
    height: 100%;
    width: 100%;
}

.container-left:hover img {
    opacity: 1;
}

.container-left:hover {
    transform: scale(1.1);
}

.container-left a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: none;
}

/* CSS de ma section contact */
.contact-content {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 170px;
}

.contact-content a {
    text-decoration: none;
}

.contact-header {
    max-width: 600px;
    font-size: 1.225rem;
}

.contact-icon {
    width: 48px;
    height: 48px;
}

.contact-card-content {
    display: flex;
    align-items: center;
    width: clamp(240px, 100%, 640px);
    height: fit-content;
    padding: 12px 20px;
    gap: 16px;
    background: #1d1e30;
    border-radius: 16px;
    filter: drop-shadow(0 32px 32px rgba(0, 0, 0, .08));
    transition: all .2s ease;
    color: #ece2f9;
}

.contact-card-content:nth-child(odd):hover {
    rotate: 1deg;
}

.contact-card-content:hover {
    rotate: -1deg;
}

.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100%;
}

.contact-card-text {
    display: flex;
    flex-direction: column;
    color: #ece2f9;
}

.contact-card-text * {
    padding: 10px;
    margin: 0;
}

/* footer */
.Footer-container {
    display: flex;
    color: #fdfffc;
    flex-direction: column;
}

.Footer_blob-container {
    display: flex;
    color: var(--svgbackground);
    translate: 2px 2px;
}

.Footer_blob-container.Footer_animation .Footer_blob {
    animation: Footer_animation 18s linear infinite;
}

.Footer_blob-container .Footer_blob {
    min-width: clamp(640px, 80vw, 2400px);
    height: 40px;
}

.Footer_content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 60px 24px 24px;
    height: fit-content;
    background: var(--svgbackground);
}

.Footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text)
}

@keyframes Footer_animation {
    0% {
        transform: translateX(0) scaleX(1.01);
    }

    50% {
        transform: translateX(-50%) translateY(40%) scaleY(1.4) scaleX(1.01);
    }

    100% {
        transform: translateX(-100%) scaleX(1.01);
    }
}

.burger-menu {
    border: none;
    background: transparent;
}

#SVGRepo_iconCarrier * {
    stroke: var(--text);
}

/* Par défaut, masquez la navigation */
#header-nav .hidden {
    display: none;
}

/* Affichez la navigation si la largeur de l'écran est supérieure à 1020px */
@media screen and (min-width: 1020px) {
    #header-nav .hidden {
        display: flex;
    }

    #header-nav .burger-nav {
        display: none;
    }

    nav .right {
        width: 20%;
    }

    .contact-list {
        width: 700px;
    }

    .container-left {
        height: 300px;
    }

    nav {
        margin: 0 55px;
    }

}

@media screen and (max-width: 1330px) {
    .Footer_blob-container, #animate-background {
        display: none;
    }
}

/* Affichez l'icône de menu si la largeur de l'écran est inférieure à 1020px */
@media screen and (max-width: 1020px) {
    .title {
        font-size: 2.3rem;
    }

    section {
        margin: 0 13px;
    }

    #header-nav .burger-menu {
        display: block;
    }

    #header-nav .hidden {
        display: none;
    }

    nav .left {
        margin: 0 13px;
    }

    nav img {
        width: 35px;
    }

    #hero .scroll-downs {
        display: none;
    }

    #hero-title {
        font-size: 3rem;
    }

    #a-propos th, td {
        padding: 0;
    }

    #a-propos .resume .resume-content {
        gap: 50px;
        justify-content: center;
        flex-wrap: wrap;
    }

    #a-propos .resume .resume-content .resume-text {
        max-width: 100%;
    }

    #a-propos .skills .skills-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: normal;
    }

    #a-propos .resume .resume-content img {
        width: 100%;
    }

    #projects ul {
        gap: 10px;
    }

    #projects .project-container {
        max-width: 100%;
    }

    #projects .container-right h3 {
        font-size: 1.7rem;
    }

    #projects .project-container {
        gap: 40px;
    }

    .contact-list {
        width: 85%;
        align-items: flex-start;
    }

    .contact-content {
        flex-wrap: wrap;
        gap: 45px;
    }

}