@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab:wght@500&display=swap');

/* Couleur en mode sombre */
:root[data-theme="dark"] {
    --text: #ece2f9;
    --background: #110f13;
    --primary: #a564f5;
    --secondary: #7e679c;
    --accent: #04F671;
    --icons: invert();
    --fill: #ece2f9;
    --icon-toggle: url('./images/icons/dark_mode_icon.svg');
    --svgbackground: #331e4e;
}

/* Couleur en mode clair */
:root[data-theme="light"] {
    --text: #130625;
    --background: #f3edf8;
    --primary: #4c06a2;
    --secondary: #9179ac;
    --accent: #09FB76;
    --icons: none;
    --fill: #10061e;
    --icon-toggle: url('images/icons/light_mode_icon.svg');
    --svgbackground: #b59fd3;
}

ul {
    list-style: none;
    padding: 0;
}

/* Changement du style de la scrollbar */
/* taille de la scrollbar */
::-webkit-scrollbar {
    width: 9px;
}

/* couleur de fond secondaire de la scrollbar */
::-webkit-scrollbar-track {
    background: #232027;
}

/* couleur de fond primaire de la scrollbar */
::-webkit-scrollbar-thumb {
    background: #949494;
}

/* Hcouleur de fond primaire de la scrollbar au hover */
::-webkit-scrollbar-thumb:hover {
    background: #d8d7d7;
}

.icons {
    filter: var(--icons);
    fill: #09FB76;
}

a {
    color: var(--primary);
    font-size: 800;
}

body {
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
    overflow-x: hidden;
}

section {
    margin: 0 40px 250px 40px;
}

/* CSS de ma nav */
nav {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7% 2% 0 2%;
    font-size: 1.4rem;
    font-weight: 800;
    animation: fadeInDown 1.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    transform: scale(1);
}

nav li a {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: margin 0.25s;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .mid li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: var(--primary);
    margin-top: 5px;
    transition: width 0.3s ease-in-out;
}

nav .mid li a:hover::after {
    width: 100%;
    transition: width 0.3s ease-in-out;
}

nav ul li:active {
    transform: scale(0.9);
}

nav .mid {
    gap: 50px;
}

nav .left {
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .left li {
    height: 190px;
    padding-top: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .left img {
    height: 35px;
}

nav .right {
    width: 20%;
}

nav .right li {
    border-radius: 5px;
    padding: 5px 15px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-toggle {
    background: var(--icon-toggle) no-repeat center center;
    background-size: contain;
    border: none;
    padding: 0;
    width: 65px;
    height: 65px;
    filter: var(--icons);
    cursor: pointer;
}

a img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

#hero {
    display: flex;
    align-items: center;
    place-content: center;
    height: 100vh;
    position: relative;
    justify-content: start;
}

.line-left {
    display: flex;
    gap: 15px;
    height: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.line-hero {
    width: 1px;
    height: 78%;
    background-color: var(--text);
    margin-right: 15px;
    margin-left: 15px;
}

.line-icons {
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.line-icons a {
    text-decoration: none;
}

.line-icons i {
    font-size: 2.3rem;
    color: var(--text);
}

#hero .hero-container {
    text-transform: uppercase;
    width: max-content;
    margin: 2%;
}

#hero-title {
    font-size: 6rem;
    font-weight: 800;
    color: var(--text);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin: 0;
    padding: 0;
}

#hero-title span {
    color: var(--primary);
}

#hero .char {
    transform: translateY(115px);
    transition: transform .5s;
}

#hero #hero-paragraphe {
    font-size: 1.8rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#hero #animate-background {
    transform: translate(-50%);
    max-width: 1100px;
    position: absolute;
    z-index: -100;
    filter: blur(20px);
    fill: var(--svgbackground);
    pointer-events: none;
    transform: none;
    transition: transform 12000ms ease-out;
    padding: 2px;
}

#hero svg path {
    max-width: 50%;
}

/* CSS de mon indicateur de scroll */
#hero .scroll-downs {
    position: absolute;
    right: 0;
    bottom: 5%;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
}

#hero .mousey {
    width: 3px;
    padding: 9px 14px;
    height: 35px;
    border: 2px solid;
    border-color: var(--secondary);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

#hero .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: var(--secondary);
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

/* CSS de ma section a-propos */
#a-propos .resume {
    display: flex;
    flex-direction: column;
}

.title, footer h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
}

#a-propos .resume p {
    font-size: 1.5rem;
    max-width: 50%;
}

#a-propos .resume p span {
    font-weight: 600;
}

#a-propos .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}


.skills th {
    font-weight: 700;
}

.skills li {
    font-size: 1.4rem;
}

.skills ul>li:nth-child(odd)>i {
    background: linear-gradient(53deg, var(--primary) 35%, var(--accent)100%);
    -webkit-background-clip: text;
    color: transparent;
}

#a-propos table {
    width: 80%;
    border-collapse: collapse;
}

#a-propos th, td {
    text-align: left;
    padding: 10px;
    vertical-align: top;
    font-size: 1.3rem;
}

#a-propos .skills h3 {
    text-align: center;
    font-size: 2.5rem;
    margin: 80px;
}

#a-propos ul {
    list-style: none;
    padding: 0;
}

#a-propos li {
    padding-bottom: 3%;
}

#a-propos li img {
    width: 20px;
    margin-right: 3%;
}

.skills li {
    opacity: 1;
}

/* CSS de ma section projects */
#projects .container {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#projects .project-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 5em 0;
    flex-wrap: wrap;
    opacity: 1;
}

#projects .project-container:nth-child(odd) {
    flex-direction: row-reverse;
}

#projects .container-right {
    display: flex;
    flex-direction: column;
    max-width: 600px;

}

#projects .container-right h3 {
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 2.25rem;
    margin: .5em 0;
}

#projects .project-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-link .link-right img {
    width: 30px;
    height: 30px;
}

#projects ul {
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#projects li {
    border: 2px solid var(--secondary);
    padding: 5px;
    border-radius: 0.5rem;
}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 3px;
    left: 0.5ch;
    width: 100%;
    transform-origin: left;
    height: 33%;
    background: var(--primary);
}

.hover-this:hover~.cursor {
    transform: translate(-50%, -50%) scale(8);
}

.hover-this:hover~.cursor {
    transform: translate(-50%, -50%) scale(8);
}

.cursor.active {
    pointer-events: none;
    position: absolute;
    padding: 0.5rem;
    background-color: var(--fill);
    border-radius: 50%;
    transition: transform 0.3s ease-out;
    transition: padding .2s ease-in-out;
    opacity: .9;
    transform: scale(1.15);
    color: var(--background);
    padding: 25px 15px;
    font-size: 0.885rem;
    border-radius: 50%;
    z-index: 1;
    text-transform: uppercase;
}

.container-left {
    overflow: hidden;
    transition: all .7s cubic-bezier(0.25, 1, 0.3, 1);
    width: 540px;
    height: 300px;
}

.container-left img {
    opacity: 0.5;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
    transform-origin: 90% center;
    height: 100%;
    width: 100%;
}

.container-left:hover img {
    opacity: 0.9;
}

.container-left:hover {
    transform: scale(1.1);
}

.container-left a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: none;
}

/* CSS de ma section footer */
footer {
    height: 92vh;
    display: flex;
    flex-direction: column;
}

footer p {
    font-size: 1.2rem;
}

footer>* {
    padding-left: 180px;
}

.pills-container {
    gap: 32px;
    display: flex;
}

.pills {
    border: 1px var(--secondary) solid;
    font-size: 1.3em;
    padding: 2.1vh 2.1vw;
    width: fit-content;
    border-radius: 50px;
}