/* Couleur en mode sombre */
:root[data-theme="dark"] {
    --text: #ece2f9;
    --background: #110f13;
    --primary: #a564f5;
    --secondary: #7e679c;
    --accent: #04F671;
    --icons: invert();
    --fill: #ece2f9;
    --icon-toggle: url('./images/icons/dark_mode_icon.svg');
    --svgbackground: #331e4e;
}

/* Couleur en mode clair */
:root[data-theme="light"] {
    --text: #130625;
    --background: #f3edf8;
    --primary: #4c06a2;
    --secondary: #9179ac;
    --accent: #09FB76;
    --icons: none;
    --fill: #10061e;
    --icon-toggle: url('images/icons/light_mode_icon.svg');
    --svgbackground: #b59fd3;
}

#header-nav {
    position: relative;
    margin-bottom: 100px;
}

.container {
    width: 1250px;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 860px;
    position: relative;
}

.gallery-item {
    height: 300px;
    opacity: 0;
    position: absolute;
    transition: all .3s ease-in-out;
    width: auto;
    z-index: 0;
    background-size: contain;
}

.gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4 {
    height: 370px;
    opacity: 1;
    width: 760px;
    z-index: 1;
}

.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, .35);
    height: 470px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 860px;
    z-index: 2;
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1.225rem;
    margin: 0 12px 0 0;
    padding: 0 12px 0 0;
    text-transform: capitalize;
    color: var(--fill);
}

.gallery-controls-précédent {
    position: relative;
}

.gallery-controls-précédent::before {
    border: solid var(--fill);
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left .15s ease-in-out;
    width: 5px;
}

.gallery-controls-précédent:hover::before {
    left: -40px;
}

.gallery-controls-suivant {
    position: relative;
}

.gallery-controls-suivant::before {
    border: solid var(--fill);
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45px;
    transform: rotate(-45deg) translateY(-50%);
    transition: right .15s ease-in-out;
    width: 5px;
}

.gallery-controls-suivant:hover::before {
    right: -40px;
}

.header-container h1 {
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}

.header-container p {
    font-size: 1.1rem;
    color: var(--text);
}

.header-container a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--primary);
    color: #ece2f9;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 1.3vh 1.3vw;
    width: fit-content;
    border-radius: 5px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.header-container a svg {
    width: 30px;
    transition: all .3s ease-in-out;
}

.header-container a:hover {
    border-radius: 25px;
}

.header-container a:hover svg {
    transform: translateX(5px) translateY(-3px);
}

.content-container h2 {
    font-size: 1.825rem;
    font-weight: 900;
}

.content-container p, li {
    font-size: 1.225rem;
}